/*------fonts-------*/

@font-face {
  font-family: "Source Sans Pro";
  src: url(fonts/SourceSansPro-Light.eot);
  src: url(fonts/SourceSansPro-Light.eot) format("embedded-opentype"),
    url(fonts/SourceSansPro-Light.woff2) format("woff2"),
    url(fonts/SourceSansPro-Light.woff) format("woff"),
    url(fonts/SourceSansPro-Light.ttf) format("truetype"),
    url(fonts/SourceSansPro-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Source Sans Pro";
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------colors-------*/

:root {
  --perple: #6c63ff;
  --white: #fff;
  --perple-dark: #3f3d56;
  --black: black;
}
body {
}
/*---------main-style--------*/

.main-container {
  margin: 100px auto;
  width: 100%;
  position: relative;
  width: 900px;
}
.under-plate {
  width: 900px;
  height: 470px;
  background-color: rgb(228, 228, 228);
  margin-top: 80px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

/*-------login-box-style-------*/

.loginform {
  width: 320px;
  height: 550px;
  background-color: var(--perple-dark);
  position: absolute;
  top: -50px;
  margin-left: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.logoimg {
  width: 400px;
  margin-left: 420px;
  margin-top: 50px;
}
.title {
  margin-left: 520px;
  margin-top: 50px;
  font-size: 40px;
  color: var(--perple-dark);
  font-weight: 900;
  text-transform: capitalize;
}
.title span {
  color: var(--perple);
}
.fild {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-prof-container {
  width: 100%;
  text-align: center;
}
/*-------profile-img--------*/

.profile {
  width: 80px;
}
/*--------input-style--------*/

input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: all 0.3s;
}
input:focus {
  box-shadow: 0 2px 5px 0 var(--perple);
}
input:hover {
  transform: translateY(-2px);
}
label {
  display: block;
  font-size: 15px;
  color: var(--white);
  margin-left: 10px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
input,
label {
  margin-top: 8px;
}
input::placeholder {
  opacity: 70%;
}
/*--------button-style and animation---------*/

.btn button {
  display: block;
  width: 100%;
  height: 35px;
  margin-top: 40px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: var(--perple);
  color: var(--white);
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: all 0.5s ease;
  cursor: pointer;
}
button:hover {
  animation: btn 0.5s ease;
}
@keyframes btn {
  20% {
    background-color: var(--white);
    color: var(--black);
  }
}
/*----------login-text and animation---------*/
p {
  text-align: center;
  margin-top: 30px;
  color: var(--white);
}
p a {
  text-decoration: none;
  color: var(--perple);
  text-transform: capitalize;
}
a:hover {
  animation: a 0.8s ease;
}
@keyframes a {
  20% {
    color: var(--white);
  }
}

/*-----------media-query for responsive---------*/

@media screen and (max-width: 930px) {
  .under-plate,
  .title,
  body > div > div.main-container > div:nth-child(1),
  .none {
    display: none;
  }
  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .loginform {
    margin: 0;
  }
}
